@model IEnumerable<IssueTracker.Models.IssueLog>

@{
    ViewData["Title"] = "Log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Log</h1>

<p>
     @using (Html.BeginForm()){    
         <p> Username: @Html.TextBox("SearchString") <br />   
         Show my issues: @Html.CheckBox("GetCurrentUserIssues") <br />
         @*Show completed issues: @Html.CheckBox("GetCompletedIssues") <br />*@
         Sort by Descending: @Html.CheckBox("OrderByDescending") <br />
         Sort by: @Html.DropDownList("OrderProperty", 
                (IEnumerable<SelectListItem>)ViewData["OrderProperties"])
         <input type="submit" value="Filter" /></p> 
        } 
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeadlineMet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeadlineMet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
